<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mahasiswa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-searchbar animated="true" placeholder="Cari Nama/Nim"></ion-searchbar> -->
  <ion-card>
    <ion-card-header>
      <ion-searchbar animated="true" placeholder="Cari Nama/Nim"></ion-searchbar>
      <!-- <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
    </ion-card-header>
    <ion-card-content>
      <ion-list>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains"
              src="https://storage.googleapis.com/assets-edlink/p/thumb-75863951c12a3a3f66a9c6df6d8eb67789a10a31d556a904ee4027e9bbc94a2d-img-20240103-002253-4051627622915620850.jpg" />
          </ion-thumbnail>
          <ion-label>Faiz Muyassar</ion-label>
          <p>2255201173</p>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains"
              src="https://storage.googleapis.com/assets-edlink/p/thumb-a3c351afc775684726e5ec252f92330375f8b61c9448e0800394d775e696550f-img-20230227-125159-405508673475361766.jpg" />
          </ion-thumbnail>
          <ion-label>DEWA AGUNG PUTRA</ion-label>
          <p>2255201149</p>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains"
              src="https://storage.googleapis.com/assets-edlink/p/thumb-dcc45130340224d1ba3d6d77bfeaf188167338a3130e7fe9251fdde200122f05-img-20240212-133357-8280607744825368944.jpg" />
          </ion-thumbnail>
          <ion-label>ANJELLY VRITA DEVI</ion-label>
          <p>2255201033</p>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains"
              src="https://storage.googleapis.com/assets-edlink/p/thumb-c2fe46ab7c50b796930cdcc4bd8589f8d8beffdc4980861d887103dc56feba99-img-20240930-152146-2922980134026045962.jpg" />
          </ion-thumbnail>
          <ion-label>IRSANDO</ion-label>
          <p>2255201080</p>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains"
              src="https://storage.googleapis.com/assets-edlink/p/thumb-6431fa07b33be5d28dcbc657dbe9927bc18bfc59a049ed96a48c850a7072da92-img-8109.jpg" />
          </ion-thumbnail>
          <ion-label>KARISMA MAHARANI</ion-label>
          <p>2255201036</p>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains"
              src="https://storage.googleapis.com/assets-edlink/p/thumb-d02be20c30d10a2bf682f0a028ba6b2aa66f4dc7c7befcbcd7db1064f159d3d2-img-20230215-095251-6709403229864457334.jpg" />
          </ion-thumbnail>
          <ion-label>Muhammad Halim Amrin</ion-label>
          <p>2255201034</p>
        </ion-item>


      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-button style="margin-left: 20px;" color="success">
    Selengkapnya
    <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
  </ion-button>
</ion-content>