<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Matkul</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card color="success">
    <ion-card-header>
      <ion-card-title>Logika Fuzzy (62)</ion-card-title>
      <ion-card-subtitle>Kamis, 10.30 - 13.00</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>LABOR D</ion-card-content>
  </ion-card>

  <ion-card color="success">
    <ion-card-header>
      <ion-card-title>Social Network Analysis (63)</ion-card-title>
      <ion-card-subtitle>Rabu, 08.00 - 10.30</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>RUANG 102</ion-card-content>
  </ion-card>

  <ion-card color="success">
    <ion-card-header>
      <ion-card-title>Machhine Learning (62)</ion-card-title>
      <ion-card-subtitle>Kamis, 13.30 - 16.00</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>LABOR C</ion-card-content>
  </ion-card>

  <ion-card color="success">
    <ion-card-header>
      <ion-card-title>Pemrograman Aplikasi Mobile (62)</ion-card-title>
      <ion-card-subtitle>Senin, 13.00 - 16.00</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>LABOR A</ion-card-content>
  </ion-card>

  <ion-card color="success">
    <ion-card-header>
      <ion-card-title>Pengujian Perangkat Lunak (62)</ion-card-title>
      <ion-card-subtitle>Rabu, 10.30 - 13.00</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>Ruang 104</ion-card-content>
  </ion-card>

  <ion-card color="success">
    <ion-card-header>
      <ion-card-title>Praktek Kerja Lapangan</ion-card-title>
      <ion-card-subtitle>Selasa, 16.00 - 17.30</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>Ruang 104</ion-card-content>
  </ion-card>

  
</ion-content>